@model Demo123.Models.AddEmployeeViewModel
@{
}
<h1>ADD EMPLOYEE</h1>
<form method="post" action="add">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="Name" >
    <div id="emailHelp" class="form-text">We'll never share your name with anyone else.</div>
  </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" placeholder="name@gmail.com" asp-for="Email">
    </div>
  <div class="mb-3">
    <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
  </div>
    <div class="mb-3">
        <label for="" class="form-label">DateOfBirth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="Department">
    </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
